<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home Page</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta ab quam ipsam eligendi laborum animi doloribus quasi magni, ratione, recusandae repudiandae repellendus illum consequuntur illo. Veniam, a ipsum. Deleniti, ea? Soluta ut nobis iusto quo saepe veritatis, laboriosam nesciunt corporis aut eveniet nam sapiente quod.</p>
</body>
</html>